body {
    
    background-image: url(../assets/logo6.png);
    background-size:cover;
    background-position: center center;
    
   
}

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #DCC395;
    list-style: none;
    text-decoration: none;
    
}